@import "partials/setup";

$lighterGrey: #2d3034;
$darkerGrey: #212326;
$orange: #f0634c;


$montserrat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1180px;
	margin: 0 auto;
}

header {
	background-color: $darkerGrey; 
	margin-bottom: 50px;
}

main {
	height: auto;
	position: relative;
	background-image: url('../../public/assets/pattern3.png');	
}

.headerContainer {
	background-color: $darkerGrey;
	min-height: 50px;
	display: flex;
	// flex-direction: row;
	align-items: center;
	justify-content: space-between;
	h1 {
		font-family: $montserrat;
		text-transform: uppercase;
		color: white;
		letter-spacing: 3px;
		font-weight: 400;
		font-size: 28px;
		span {
			color: $orange;
		}
	}
}

.headerLeft {
	display: flex;
	flex-direction: column;
}

.logoContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.microIcon {
	max-width: 100%;
	height: 30px;
	padding-right: 10px;
}

.logInButton {
	color: white;
	background-color: $orange;
	border: none;
	width: 100%;
	font-family: $montserrat;
	margin-top: 10px;
	font-weight: 700;
}

.profileImage {
	max-width: 100%;
	height: 125px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.mainContainer {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.addUser {
	font-family: $montserrat;
	border-radius: 25px;
	width: 500px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
	.username {
		margin-top: 60px;
		margin: 0 auto;
		width: 400px;
		border: 2px solid $darkerGrey;
		padding: 10px;

	}
	p {
		
	}

	label {
		padding-right: 10px;
		
	}
	input[type="radio"] {
			margin-right: 10px;
		}
	.usermessage {
	width: 400px;
	display: block;
	resize: none;
	margin: 0 auto;
	margin-top: 31px;
	border: 2px solid $darkerGrey;
	padding: 10px;
	}
	.giphyQuery {
		width: 300px;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: 5px;
		border: 2px solid $darkerGrey;
	}
	.gifSearchButton {
		width: 120px;
		background-color: $darkerGrey;
		text-transform: uppercase;
		padding: 5px;
		color: white;
		border: none;
	}

	.cueButton {
		background-color: $darkerGrey;
		color: white;
		border: none;
		padding: 5px;
	}
}

.giphyGallery {
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.gifImage {
	height: 100%;
	width: calc((100% / 3) - 5px);
	padding-top: 10px;
}

.cueResults {
	font-family: $openSans;
	width: 600px;
	ul {
		margin: 0px;
		padding: 0px;
	}
	li {
		list-style-type: none;
		background-color: rgba(33, 92, 161, 1);
			border: 5px solid $darkerGrey;
			border-radius: 25px;
			h3 {
				margin-top: 10px;
				margin-bottom: 10px;
				color: white;
				font-size: 30px;
				font-weight: 400;
			}
			p {
				color: white;
			}
	&:first-child {
			background-color: white;
			margin-bottom: 10px;
			border: 5px solid $darkerGrey;
			border-radius: 25px;
			h3 {
				margin-top: 10px;
				margin-bottom: 10px;
				color: $darkerGrey;
				font-size: 30px;
				font-weight: 400;
			}
			p {
				color: $darkerGrey;
			}
		}
	}

}

.cueItem {
	display: flex;
	min-height: 200px;
	border-radius: 5px;
	justify-content: space-between;
	align-items: center;	
}

.cueText {
	width: calc((50%) - 5px);
	margin-right: 5px;
	padding-left: 20px;
	h3 {
		margin-bottom: 10px;
		color: $lighterGrey;
		font-size: 30px;
		font-weight: 400;
	}
	p {
		color: $lighterGrey;
	}
}

.cueGif {
	width: 45%;
	text-align: center;
	img {
		max-width: 100%;
		border-radius: 5px;
		padding-right: 10px;
	}
}